/* Your CSS here. */
img {
    width: 150px;
    height: 150px
}

.inner {
    width: 50%;
    height: 50%;
    background-color: rgb(213, 191, 255);
    padding: 2%;
    margin: 0 auto;
    text-align: center;
}

p {
    text-align: left;
}
